<header class="header">

<picture class="headerLogo">
    <source srcset="/img/tweakersLogoRood.avif">
    <img src="/img/headerBackground.jpg" height="55px">
</picture>

<a href="/" class="headerNav" id="dashboardNav">Dashboard</a>

<a href="/gebruikers" class="headerNav" id="gebruikerNav">Gebruikers</a>

</header>