{% render 'partials/head.liquid' %}
{% render 'partials/nav.liquid' %}

<main>
    <h1 class="pageTitle">Community Dashboard</h1>

    
    <div class="cardGrid">
    <section class="dashboardCard">
        <h2 >Top 10 recentste topics</h2>
        <hr class="divider">
        <table>
            <tr>
                <th class="tableTitle">Topic</th>
                <th class="tableTitle">Laatste reactie:</th>
            </tr>
            
        {% for topic in activeTopics limit: 10 %}
            <tr>
                <td class="topic">
                    <a href="{{ topic.link }}" class="topicLink">{{ topic.title }}</a>
                </td>
                <td>
                    <p class="latestReply">{{ topic.date | date: "%H:%M"}}</p>
                </td>
            </tr>
        {% endfor %}

        </table>
    </section>
    </div>

</main>

{% render 'partials/foot.liquid' %}